# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Checkpoints ipynb
*.ipynb_checkpoints

# Arquivos do projeto
*.idea

# Arquivos pycache
__pycache__/
